<section id="download" class="download-section content-section text-center">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h2>Download Grayscale</h2>
            <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
            <a asp-page="/Account/Register" class="btn btn-default btn-lg">Register</a>
            <a asp-page="/Account/Login" class="btn btn-default btn-lg">Log In</a>
        </div>
    </div>
</section>