<section id="features" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Características</h2>
                <p>
                    Ordos es una solución a los requerimientos del Sistema de Lectura Remota de Protecciones (SLRP) del Coordinador Eléctrico Nacional (CEN) de Chile.
                </p>

                <h3><i class="fa fa-connectdevelop"></i> IEC61850</h3>
                <p>
                    Compatible con IEDs multimarca compatibles con la interfaz FTP descrita en el estándar IEC61850-8-1.
                </p>

                <h3>  <i class="fa fa-windows"></i> <i class="fa fa-linux"></i> Windows, Linux, Maquinas Virtuales</h3>
                <p>
                    Construido sobre tecnología .NetCore: Open Source, compatible con todos los sitemas operativos y máquinas virtuales.
                </p>

                <h3> <i class="fa fa-cloud"></i> Interfaz Web </h3>
                <p>
                    La interfaz de la aplicación se puede acceder desde PCs, Smartphones o Tablets.
                </p>

                <h3><i class="fa fa-folder-open"></i> Rutas específicas</h3>
                <p>
                    Exporta las oscilografías a carpetas específicas para cada IED, según los requerimientos del SLRP.
                </p>

                <h3><i class="fa fa-clock-o"></i> Ciclos de recolección</h3>
                <p>
                    Ciclos de recolección que cumplen con las exigencias del SLRP.
                </p>
            </div>
        </div>
    </div>
</section>