<section id="features" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Características</h2>
                <p>
                    Ordos es una solución a los requerimientos del Sistema de Lectura Remota de Protecciones (SLRP) del Coordinador Eléctrico Nacional (CEN) de Chile.
                </p>

                <h3>&#9745; IEC61850</h3>
                <p>
                    Ordos es compatible con IEDs multimarca compatibles con la interfaz FTP descrita en IEC61850-8-1
                </p>

                <h3>&#9734; Windows, Linux y Mac</h3>
                <p>
                    Ordos está construido sobre tecnología .NetCore: Open Source, compatible con todos los sitemas operativos y máquinas virtuales.
                </p>

                <h3>&#10149; Rutas específicas</h3>
                <p>
                    El sistema exporta las oscilografías extraidas a carpetas específicas para cada IED, según los requerimientos del SLRP.
                </p>

                <h3>&#9844; Ciclos de recolección</h3>
                <p>
                    Los ciclos de recolección de Ordos permiten al sistema cumplir con las exigencias de 2 minutos del SLRP.
                </p>
            </div>
        </div>
    </div>
</section>