@page
@model Ordos.Web.Pages.GraciasContactModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gracias por contactarnos!</title>
</head>
<body>
    <div class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1> Gracias por contactarnos </h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
