@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Ordos: Comtrade Manager. Solución para el SLRP del CEN";
}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewData["Title"]</title>

        <!-- Styles -->
        @await Html.PartialAsync("Styles.cshtml")
    </head>

    <body id="page-top">
        <!-- Navigation -->
        @await Html.PartialAsync("Navigation.cshtml")

        <!-- Intro Header -->
        @await Html.PartialAsync("Intro.cshtml")

        <!-- Features Header -->
        @await Html.PartialAsync("Features.cshtml")

        <!-- Download Section -->
        @await Html.PartialAsync("Download.cshtml")

        <!-- Contact Section -->
        @await Html.PartialAsync("Contact.cshtml")

        <!-- Footer -->
        @await Html.PartialAsync("Footer.cshtml")

        <!-- Scripts -->
        @await Html.PartialAsync("Scripts.cshtml")

    </body>
</html>
